.notification {
    background: lightgrey;
    border-style: solid;
    border-width: 3px;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 18px;
  }
  
  /* 成功提示：绿色边框 + 字体绿色 */
  .notification.success {
    color: green;
    border-color: green;
  }
  
  /* 错误提示：红色边框 + 字体红色 */
  .notification.error {
    color: red;
    border-color: red;
  }